.SectionProductos {
    padding: 40px 100px;
}

.SectionProductosTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.SectionProductosTitulo h2 {
    font-size: 28px;
    font-weight: lighter;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.CardsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.TodosLosProductos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 20px 0;
}

.TodosLosProductos button {
    border: 1px solid black;
    height: 60px;
    width: 120px;
    background: transparent;
    color: black;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
}

.CircularProgress {
    margin: 80px auto 120px auto;
}