.SectionProductos {
    padding: 40px 120px;
}

.SectionProductosTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.SectionProductosTitulo h2 {
    font-size: 28px;
    font-weight: lighter;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.CardsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.TodosLosProductos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.TodosLosProductos button {
    border: none;
    border-bottom: 2px solid black;
    height: 40px;
    width: max-content;
    background: transparent;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TodosLosProductosIcon {
    margin-left: 10px;
}

.CircularProgress {
    margin: 40px auto 80px auto;
}