.InfoSection {
    padding: 0 120px 80px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.InfoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.InfoText {
    margin-left: 20px;
}

.InfoIcon {
    font-size: 30px;
}

.InfoText h4 {
    font-size: 16px;
}

.InfoText p {
    margin-top: -20px;
    font-weight: lighter;
}