main {
    background: rgba(0, 0, 0, 0.445);
    background-image: url(../../assets/portada3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
    z-index: 9;
    position: relative;
}

.MainContainer {
    margin-bottom: 140px;
    text-align: center;
}

main h1 {
    color: white;
    font-size: 42px;
    text-transform: uppercase;
    width: 500px;
    text-align: center;
    word-spacing: 4px;
}

main button {
    height: 50px;
    border: none;
    border-radius: 0;
    width: max-content;
    border-bottom: 1px solid white;
    background: transparent;
    font-size: 26px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: .7s;
    margin-top: -40px;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-style: italic;
}

main button:hover {
    color: gray;
    border-color: gray;
}