main {
    background: rgba(0, 0, 0, 0.445);
    background-image: url(../../assets/portada3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    z-index: 9;
    position: relative;
}

.MainContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    width: 90%;
    text-align: center;
    word-spacing: 4px;
}

main button {
    height: 50px;
    border: none;
    border-radius: 0;
    width: max-content;
    border-bottom: 1px solid white;
    background: transparent;
    font-size: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: .7s;
    margin-top: -20px;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-style: italic;
}

main button:hover {
    color: gray;
    border-color: gray;
}

@media only screen and (min-width: 768px) {
    main {
        height: 700px;
        justify-content: flex-end;
    }

    .MainContainer {
        margin-bottom: 140px;
    }
    
    main h1 {
        font-size: 36px;
        width: 440px;
    }
    
    main button {
        font-size: 26px;
        margin-top: -40px;
    }
}

@media only screen and (min-width: 992px) {
    main {
        height: 1000px;
    }
    
    main h1 {
        font-size: 42px;
        width: 500px;
    }
    
}