.CardProduct {
    width: 23%;
    height: 520px;
    text-align: center;
    position: relative;
    border-top: 1px solid rgba(155, 155, 155, 0.507);
    padding-top: 18px;
}

.CardProduct img {
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.CardProduct h3 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 6px;
}

.CardProduct p {
    font-size: 16px;
    color: black;
    letter-spacing: -1px;
    margin-top: -16px;
}

.CardProduct button {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.507);
    width: 100%;
    height: 40px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: -1px;
    outline: none;
}

.ProductFav {
    position: absolute;
    top: 40px;
    font-size: 20px;
    color: white;
    right: 20px;
}

.OpenModal {
    position: absolute;
    top: 40px;
    font-size: 20px;
    color: white;
    left: 20px;
}

.ModalContainer {
    position: fixed;
    background: rgba(0, 0, 0, 0.411);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.ModalContainer.openModalContainer {
    opacity: 1;
    visibility: visible;
}

.ModalProduct {
    width: 600px;
    height: 600px;
    margin-top: 240px;
}

.ModalProduct img {
    object-fit: cover;
}