.CardProduct {
    width: 23%;
    height: 500px;
    text-align: center;
    position: relative;
    padding-top: 18px;
}

.CardProduct img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 4px;
}

.CardProduct h3 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 14px;
}

.CardProduct p {
    font-size: 16px;
    color: black;
    letter-spacing: -1px;
    margin-top: -16px;
}

.CartButtonContainer {
    display: grid;
    grid-template-columns: 50% 30%;
    gap: 5%;
    place-items: center;
    place-content: center;
}

.CardProduct button {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.507);
    width: 100%;
    height: 40px;
    font-size: 14px;
    border-radius: 30px;
    text-transform: uppercase;
    outline: none;
}

.CardProduct a {
    height: 40px;
    width: 86px;
}

.ModalContainer {
    position: fixed;
    background: rgba(0, 0, 0, 0.411);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.ModalContainer.openModalContainer {
    opacity: 1;
    visibility: visible;
}

.ModalProduct {
    width: 600px;
    height: 600px;
    margin-top: 240px;
}

.ModalProduct img {
    object-fit: cover;
}