.CardProduct {
    width: 24%;
    height: 480px;
    position: relative;
    padding-top: 18px;
}

.CardProduct img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.CardProduct h3 {
    font-size: 16px;
    margin-top: 10px;
    text-transform: uppercase;
}

.CardProduct p {
    font-size: 16px;
    color: rgb(78, 78, 78);
    margin-top: -14px;
}

.VistaPrevia {
    opacity: 0;
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 93.5%;
    background: rgb(235, 235, 235);
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    transition: 1s;
    cursor: pointer;
}

.CardProduct:hover .VistaPrevia {
    opacity: 1;
}

.ModalContainer {
    position: fixed;
    background: rgba(0, 0, 0, 0.411);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.ModalContainer.openModalContainer {
    opacity: 1;
    visibility: visible;
}

.ModalProduct {
    width: 600px;
    height: 600px;
    margin-top: 240px;
}

.ModalProduct img {
    object-fit: cover;
}