header { 
    background: black;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 1s;
    z-index: 10;
}

.HeaderContainer {
    padding: 12px 0;
    transition: 1s;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.Logo {
    margin-left: -80px;
}

.Logo img {
    width: 200px;
}

.Navegacion ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navegacion ul li {
    list-style: none;
    margin: 0 24px;
}

.Navegacion ul li a {
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.Navegacion ul li a.ActiveNavLink {
    color: grey;
}

.Usuario {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    margin-left: 180px;
}