.FavContainer {
    margin: 0 10px;
    cursor: pointer;
}

.CartContainer {
    cursor: pointer;
}

.CartWidget {
   position: fixed;
   background: rgba(0, 0, 0, 0.301);
   height: 100vh;
   width: 100%;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
}

.CartWidget.active {
    opacity: 1;
    visibility: visible;
}

.CartWidget.active .CartMenu {
    right: 0;
}

.FavMenu,
.CartMenu { 
    height: 100vh;
    position: fixed;
    background: white;
    border-radius: 2px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
    top: 0;
    right: -400px;
    width: 180px;
    transition: .7s;
    z-index: 13;
}

.FavHeader,
.CartHeader {
    display: flex;
    align-items: center;
    padding: 16px;
    background: black;
}

.FavHeader h1,
.CartHeader h1 {
    font-size: 18px;
    color: white;
    margin-left: 40px;
    font-weight: normal;
    text-transform: uppercase;
}

.CloseFav,
.CloseCart {
    color: white;
    font-size: 18px;
}

@media only screen and (min-width: 768px) {
    .FavContainer {
        margin: 0 20px;
    }
    
    .FavMenu,
    .CartMenu { 
        width: 280px;
    }

    .FavHeader,
    .CartHeader {
        padding: 24px;
    }
}

@media only screen and (min-width: 992px) {
    .FavMenu,
    .CartMenu { 
        width: 320px;
    }

    .FavHeader,
    .CartHeader {
        padding: 16px;
    }

    .FavHeader h1,
    .CartHeader h1 {
        font-size: 24px;
    }

    .CloseFav,
    .CloseCart {
        font-size: 24px;
    }
}

.CartProducts .Agregar {
    display: none;
}

.CartProducts {
    margin: 20px;
    height: 68vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.CartProducts::-webkit-scrollbar {
    width: 4px;
}

.CartProducts::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgb(216, 216, 216);
}

.ProductInCart {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.ProductInCart:last-child {
    border: none;
}

.ProductInCart div {
    display: flex;
    align-items: center;
}

.ProductInCart div .ProductData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 12px;
}

.ProductInCart div h3 {
    font-size: 15px;
    color: black;
    font-weight: normal;
}

.ProductInCart div h4 {
    font-size: 13px;
    color: grey;
    font-weight: normal;
    margin-top: -14px;
}

.ProductInCart img {
    height: 84px;
    width: 84px;
    object-fit: cover;
}

.ProductInCart span {
    color: black;
    font-weight: normal;
    margin-top: -20px;
    font-size: 14px;
}

.MdClose {
    color: black;
    opacity: 0;
}

.ProductInCart:hover .MdClose {
    opacity: 1;
}

.NoHayProductos {
    color: black;
    margin-left: 15%;
    margin-top: 20px;
}

.IrAlCarrito {
    bottom: 10px;
    position: relative;
    margin: 0 20px;
}

.IrAlCarrito a button {
    background: black;
    color: white;
    text-decoration: none;
    height: 50px;
    width: 100%;
    font-size: 20px;
    border: none;
    border-radius: 0;
}

.ProductData .CantidadProducto {
    margin-top: -4px;
    font-weight: normal;
    height: 26px;
}

.ProductData .CantidadProducto input {
    width: 28px;
}

.ProductData .CantidadProducto span {
    font-weight: normal;
    color: black;
    font-size: 16px;
}

.ProductData .totalPrice {
    display: none;
}