.UserContainer {
    position: relative;
    cursor: pointer;
}

.DropdownUser {
    position: absolute;
    background: white;
    top: 40px;  
    left: -80px;
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 8px 10px;
    opacity: 0;
    visibility: hidden;
    transition: .7s;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}

.DropdownUser::before {
    content: 'h';
    display: block;
    background: white;
    width: 40px;
    position: absolute;
    top: 0;
    left: 72px;
    transform: rotate(45deg);
}

.DropdownUser a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    margin: 4px 0;
}

.DropdownUser a:last-child {
    color: #9c9a9a;
}

.DropdownUser.active {
    opacity: 1;
    visibility: visible;
}