footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: black;
    padding: 40px 60px;
    color: white;
    position: relative;
}

footer h4 {
    color: rgb(182, 180, 180);
    font-size: 12px;
}

.Redes div {
    font-size: 28px;
    text-align: center;
}

.IG {
    margin-right: 10px;
}

.Suscripcion {
    text-align: center;
    margin: 30px 0;
}

.Suscripcion div {
    display: flex;
    flex-direction: column;
}

.Suscripcion div input {
    margin: 10px 0;
    width: 260px;
    height: 40px;
    padding-left: 8px;
    color: grey;
    outline: none;
    border: 1px solid white;
}

.SuscripcionInput {
    width: 272px;
    border: 1px solid white;
    height: 34px;
    color: black;
    background: white;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
    transition: .7s;
    cursor: pointer;
}

.SuscripcionInput:hover {
    background: transparent;
    border-color: transparent;
    color: white;
}

.Contacto {
    text-align: center;
}

.Contacto div {
    display: flex;
    flex-direction: column;
}

.Contacto div p {
    font-size: 12px;
    margin: 2px 0;
}

@media only screen and (min-width: 768px) {
    footer {
        flex-direction: row;
    }
    
    .Redes div {
        font-size: 28px;
        text-align: left;
    }
    
    .Suscripcion {
        text-align: center;
        margin: 0;
    }

}