* {
    font-family: 'Oswald', sans-serif;
}

body {
    background: white;
}

::-webkit-scrollbar {
    width: 12px;
    background: white;
}

::-webkit-scrollbar-thumb {
    background: black;
    border: 2px solid white;
}